# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/1_weather/node_modules
/2_todos/node_modules

/1_weather/.pnp
/2_todos/.pnp
.pnp.js

# testing
/1_weather/coverage
/2_todos/coverage

# production
/1_weather/build
/2_todos/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
1_weather/node_modules/
2_todos/node_modules/
